# working notebook

In [2]:
import pandas as pd
import numpy as np

import helpers as h

pd.set_option('display.max_columns', None)

In [7]:
otc = h.load_bitcoin_data('../data/soc-sign-bitcoinotc.csv.gz')
alpha = h.load_bitcoin_data('../data/soc-sign-bitcoinalpha.csv.gz')

In [8]:
alpha.head()

   rater  ratee  rating                date
0   7188      1      10 2014-08-07 21:00:00
1    430      1      10 2013-08-14 21:00:00
2   3134      1      10 2013-05-27 21:00:00
3   3026      1      10 2012-10-11 21:00:00
4   3010      1      10 2012-09-16 21:00:00